.bg-img-home {
  background-image: url("../background-imgs/filip_mroz_167508.jpg");
  background-position: 50% 95%;
}

.jumbotron-home {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  background: none;
  color: #fff;
  bottom: 25%;
  h1 {
    font-size: 50pt;
  }
  z-index: 0;
}
