.confirm-index {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  h3 {
    font-weight: 900;
    margin-top: 0;
    padding-top: 20px;
  }
  .confirm-list {
    width: 100%;
    a {
      color: #000;
      &:hover {
        text-decoration: none;
        .confirm-row {
          transform: scale(1.02);
        }
      }
    }
    .confirm-row {
      height: 100px;
      display: flex;
      align-items: center;
      margin: 20px 0;
      transition: 0.5s;
      .activity-name {
        width: 20%;
        height: 100%;
        background-color: #00708A;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: #fff;
      }
      .confirm-info {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 10px;
      }
      table {
        width: 45%;
        td {
          padding: 10px;
        }
        .attr-name {
          width: 70px;
          color: #aaa;
        }
      }
      .user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        p {
          font-size: 16pt;
          margin: 5px 0;
          color: #00708A;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        img {
          border-radius: 50%;
          height: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .confirm-list {
    width: 100% !important;
    .confirm-row {
      height: 150px !important;
      .activity-name {
        width: 25% !important;
        font-size: 18px !important;
      }
      .confirm-info {
        width: 70% !important;
        flex-direction: column;
        justify-content: center;
        table {
          width: 100% !important;
          .attr-name {
            width: 60px;
          }
        }
      }
    }
  }
}