<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class:"logo" do %>
        <h1>Fitbuds</h1>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "LOG IN", new_user_session_path, class: "btn btn-login" %></li>
      <li><%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-signup" %></li>
    </ul>
  </div>
</nav>

<div class="bg-img bg-img-home"></div>

<div class="container">
  <div class="jumbotron jumbotron-home">
    <h1>Sport like you have<br>never before.</h1>
  </div>
  <div class="text" style="height: 2000px;">
    Additional Content goes here
  </div>
</div>

