/*
*= require_self
*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  height: 100%;
}

body {
  font-family: 'Hind';
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

input, select {
  border-radius: 0 !important;
}

.input-fields {
  height: 40px;
  border: none;
  border-bottom: solid 2px;
  box-shadow: none;
  font-size: 14px;
  transition: 0.2s;
  &:focus {
    box-shadow: none;
    transform: scale(1.02);
  }
}

a {
  color: #00708A;
}

.container, .container-fluid {
  max-width: 1200px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
  background-color: #00708A;
  color: #fff;
  transition: 0.2s;
  &:hover {
    color: #fff;
    background-color: #0092B5;
  }
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.bg-img {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.error-msg {
  color: #cc0000;
  margin-top: 2px;
}


.dashboard-content {
  position: relative;
  height: 100%;
  left: 320px;
  width: calc(100% - 320px);
  padding: 0 30px;
  transition: 0.5s;
}

#darken-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 1;
}

.card {
  border: solid 1px #ccc;
}

h4.header {
  margin-top: 0;
  padding-top: 20px;
  font-weight: 900;
}

@media screen and (max-width: 1400px) {
  .dashboard-content {
    top: 50px;
    height: calc(100% - 50px);
    left: 0;
    width: 100%;
    padding: 0;
  }
}