@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "home";
@import "users/shared";
@import "users/sessions";
@import "users/registrations";

html, body {
  height: 100%;
}

body {
  font-family: 'Hind';
  font-size: 12pt;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

input {
  border-radius: 0 !important;
}

a {
  color: #00708A;
}

.container, .container-fluid {
  max-width: 1200px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
}

.bg-img {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.error-msg {
  color: #cc0000;
  margin-top: 2px;
}