// navbar
$nav-h: 80px;

.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0));
  border: 0;
  .navbar-header {
    h1 {
      margin: 0;
      padding: 0 10px;
      line-height: $nav-h;
      color: #fff;
      font-weight: 900;
      font-size: 30pt;
    }
  }
  .navbar-nav {
    a {
      padding: 0 15px;
      margin: 15px;
      line-height: $nav-h - 30px;
      &.btn-signup {
        width: 140px;
        background: #fff;
        border: solid 3px #fff;
        font-weight: 900;
        transition: 0.2s;
        &:hover {
          transform: scale(1.05); 
          background: #fff;
          color: #777;
        }
      }
      &.btn-login {
        width: 140px;
        background: none;
        border: solid 3px #fff;
        font-weight: 900;
        color: #fff;
        transition: 0.2s;
        &:hover {
          transform: scale(1.05);
          color: #fff;
        }
      }
    }
  }
}

.home-background-image {
  background-image: url("background-imgs/filip_mroz_167508.jpg");
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  background-attachment: fixed;
  z-index: -1;
}

.jumbotron-home {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  background: none;
  color: #fff;
  top: 60%;
  h1 {
    font-size: 60pt;
  }
}
