.matches-index {
  width: 95%;
  margin: 0 auto 20px auto;
  h3 {
    margin-top: 0;
    padding-top: 20px;
    font-weight: 900;
  }
  .matches-all {
    display: flex;
    justify-content: flex-start;
    flex-wrap:  wrap;
    a {
      color: #000;
      &:hover {
        text-decoration: none;
        .match-card {
          transform: scale(1.02);
        }
      }
    }
    .match-card {
      width: 370px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      margin-right: 40px;
      padding: 20px;
      transition: 0.2s;
      img {
        border-radius: 50%;
      }
      .match-info {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin: 0;
        }
        .other-user-name {
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        table {
          td {
            padding: 15px 0;
          }
          .attr-name {
            width: 60px;
            color: #999;
          }
        }
        .match-activity {
          color: #00708A;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .matches-index {
    .matches-all {
      flex-direction: column;
      .match-card {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}