.match-show {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.match-details {
  width: 48%;
  transition: 0.5s;
  .mobile-pullup {
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: solid 1px #ccc;
    i {
      font-size: 26px;
    }
  }
  .match-show-header {
    h4 {
      color: #999;
    }
  }
  .user-info {
    width: 100%;
    height: 140px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 85%;
      border-radius: 50%;
    }
    .details {
      margin: 0 30px;
      width: 50%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #00708A;
        font-weight: 900;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .age {
        margin: 10px 0;
      }
      p {
        margin: 0;
        color: #999;
        span {
          color: #000;
        }
      }
    }
  }
  .schedule-info {
    .shared {
      width: 100%;
      margin: 10px 0;
      .attribute {
        width: 60px;
        color: #999;
      }
      .detail {
        width: 200px;
      }
      .activity-name {
        font-size: 22px;
        color: #00708A;
      }
    }
    .card {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      .yours, .theirs {
        text-align: center;
        width: 49%;
        h4 {
          font-weight: 900;
          margin-bottom: 20px;
        }
        table {
          td {
            padding: 10px;
            text-align: left;
          }
          .attribute {
            color: #999;
            width: 70px;
          }
        }
      }
      .vr {
        width: 1px;
        margin: 0 20px;
        padding: 0;
        border-left: solid 1px #ccc;
      }
    }
  }
  .confirm {
    margin-bottom: 20px;
    h3 {
      font-weight: 900;
    }
    .card {
      padding: 20px;
      table {
        width: 100%;
        td {
          padding: 0 10px 10px 10px;
          &.form-label {
            padding-bottom: 0;
            color: #999;
          }
          &.datetime {
            width: 50%;
          }
          &.status {
            padding-top: 20px;
            padding-bottom: 0;
            color: #999;
            font-size: 14pt;
          }
          .btn {
            margin: 10px 0;
          }
          .input-fields {
            border-color: #00708A;
            &:hover {
              border-color: #00708A;
            }
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
}

#chat {
  width: 48%;
  height: 96%;
  margin: auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  .mobile-pulldown {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex: none;
    background-color: #f1f1f1;
    border-bottom: solid 1px #ccc;
    i {
      font-size: 26px;
    }
  }
  ul {
    height: 70%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    li {
      width: 100%;
      display: flex;
      margin: 10px 0;
      .message-body {
        max-width: 60%;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
    .self {
      text-align: right;
      justify-content: flex-end;
      .message-body {
        background-color: #00708A;
        color: #fff;
      }
    }
    .other {
      text-align: left;
      .message-body {
        background-color: #eee;
      }
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
    }
  }
  .type-area {
    width: 100%;
    flex: none;
    background-color: #fff;
    form {
      width: 100%;
      padding: 10px 0;
      border-top: solid 1px #ccc;
      display: flex;
      justify-content: space-around;
      textarea {
        width: 77%;
        resize: none;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        font-size: 14px;
        &:focus {
          border: solid 1px #00708A;
        }
      }
      input {
        width: 18%;
        border-radius: 5px !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .match-show {
    width: 100%;
    flex-direction: column;
    .match-details {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      position: fixed;
      top: -150%;
      background-color: #fff;
      padding-bottom: 60px;
      z-index: 1;
      div {
        padding: 0 10px;
      }
      .mobile-pullup {
        display: flex;
      }
      .match-show-header {
        margin-top: 30px;
      }
      .schedule-info {
        .card {
          padding: 10px;
          td {
            padding: 5px !important;
            &.attribute {
              width: 50px;
            }
          }
          .vr {
            margin: 0;
          }
        }
      }
    }
    #chat {
      height: 100%;
      width: 100%;
      border: none;
      .mobile-pulldown {
        display: flex;
      }
    }
  }
}