
.match-show {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.match-details {
  width: 48%;
  height: 94%;
  margin: auto 0;
  .match-show-header {
    h3 {
      margin: 0;
      color: #999;
      span {
        color: #00708A;
        font-weight: 900;
        font-size: 24pt;
      }
    }
  }
  .user-info {
    height: 150px;
    width: 100%;
    margin: 20px 0 10px;
    display: flex;
    img {
      height: 100%;
      border-radius: 50%;
    }
    .details {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h2 {
        color: #00708A;
        font-weight: 900;
      }
      p {
        color: #999;
        span {
          color: #000;
        }
      }
    }
  }
  .schedule-info {
    h3 {
      font-weight: 900;
    }
    .shared {
      width: 100%;
      margin: 20px 0;
      .attribute {
        width: 60px;
        color: #999;
      }
      .detail {
        width: 200px;
      }
      .activity-name {
        font-size: 22pt;
        color: #00708A;
      }
    }
    .card {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .yours, .theirs {
        text-align: center;
        width: 49%;
        h4 {
          font-weight: 900;
          margin-bottom: 20px;
        }
        table {
          td {
            padding: 10px;
            text-align: left;
          }
          .attribute {
            color: #999;
            width: 70px;
          }
        }
      }
      .vr {
        width: 1px;
        margin: 0 20px;
        border-left: solid 1px #ccc;
      }
    }
  }
  .confirm {
    h3 {
      font-weight: 900;
    }
    .card {
      padding: 20px;
      table {
        width: 100%;
        td {
          padding: 5px 20px 10px 20px;
          &.form-label {
            padding: 5px 20px 0 20px;
            color: #999;
          }
          &.datetime {
            width: 50%;
          }
          &.status {
            padding-top: 20px;
            color: #999;
            font-size: 14pt;
          }
          .btn {
            margin: 10px 0;
          }
          .input-fields {
            border-color: #00708A;
            &:hover {
              border-color: #00708A;
            }
          }
        }
      }
    }
  }
}

#chat {
  width: 48%;
  height: 95%;
  margin: auto 0;
  position: relative;
  ul {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 10px;
    li {
      width: 100%;
      display: flex;
      margin: 10px 0;
      .message-body {
        max-width: 60%;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
    .self {
      text-align: right;
      justify-content: flex-end;
      .message-body {
        background-color: #00708A;
        color: #fff;
      }
    }
    .other {
      text-align: left;
      .message-body {
        background-color: #eee;
      }
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
    }
  }
  .type-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    form {
      width: 100%;
      padding: 10px 0;
      border-top: solid 1px #ccc;
      display: flex;
      justify-content: space-around;
      textarea {
        width: 77%;
        resize: none;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        font-size: 12pt;
        &:focus {
          border: solid 1px #00708A;
        }
      }
      input {
        width: 18%;
        border-radius: 5px !important;
      }
    }
  }
}