#chat {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  ul {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 10px;
    li {
      width: 100%;
      display: flex;
      margin: 10px 0;
      .message-body {
        max-width: 60%;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
    .self {
      text-align: right;
      justify-content: flex-end;
      .message-body {
        background-color: #00708A;
        color: #fff;
      }
    }
    .other {
      text-align: left;
      .message-body {
        background-color: #eee;
      }
    }
  }
  .type-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    form {
      width: 100%;
      padding: 10px 0;
      border-top: solid 1px #ccc;
      display: flex;
      justify-content: space-around;
      textarea {
        width: 77%;
        resize: none;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        font-size: 12pt;
        &:focus {
          border: solid 1px #00708A;
        }
      }
      input {
        width: 18%;
        border-radius: 5px !important;
      }
    }
  }
}