.index-page {
  .upper-index {
    width: 95%;
    margin: 0 auto 20px auto;
    form {
      .schedule-fields {
        width: 100%;
        border-bottom-color: #0092B5;
        box-shadow: none;
        background-color: #fff;
        margin-top: 10px;
        transition: 0.2s;
        &:focus {
          transform: scale(1.02);
        }
      }
    }
    .card {
      width: 100%;
      display: flex;
      #where, #when, #what {
        width: 33%;
        flex: none;
        padding: 15px;
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          h4 {
            margin: 5px 0;
            flex-grow: 1;
            font-size: 15px;
            font-weight: 600;
          }
          .user-own-location {
            flex: none;
            display: flex;
          }
        }
        .adjacent-fields {
          display: flex;
          justify-content: space-between;
          .schedule-fields {
            width: 48%;
          }
        }
      }
      #when {
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
      }
    }
  }
  .lower-index {
    width: 95%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    .available-matches {
      width: 64%;
    }
    .upcomings {
      width: 32%;
    }
    .card {
      width: 100%;
      min-height: 120px;
      max-height: 600px;
      overflow-y: auto;
      overflow-x: hidden;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
          .match-row {
            background-color: #f6f6f6;
          }
        }
      }
      .none-msg {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #888;
        p {
          max-width: 80%;
        }
      }
      .match-row {
        width: 100%;
        height: 120px;
        display: flex;
        padding: 15px;
        img {
          height: 90%;
          border-radius: 50%;
        }
        .other-user-info {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: none;
          margin: 0 10px 0 15px;
          h4 {
            font-size: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p {
            font-size: 16px;
            color: #999;
          }
        }
        .match-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: none;
          margin-right: 20px;
          td {
            padding: 10px;
          }
          .attr-name {
            color: #aaa;
            width: 70px;
          }
        }
        .match-activity {
          display: flex;
          align-items: center;
          p {
            font-size: 20px;
            color: #00708A;
            margin: 0;
          }
        }
      }
      .confirm-row {
        width: 100%;
        height: 140px;
        display: flex;
        padding: 15px;
        &:hover {
          background-color: #f6f6f6;
        }
        .confirm-activity {
          width: 30%;
          display: flex;
          align-items: center;
          p {
            font-size: 20px;
            color: #00708A;
            margin: 0;
          }
        }
        .vr {
          width: 1px;
          height: 100%;
          border-left: solid 1px #ccc;
          margin: 0 15px;
        }
        .confirm-info {
          width: 65%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          table {
            td {
              padding: 5px 0;
            }
            .attr-name {
              width: 60px;
              color: #aaa;
              text-align: left;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .index-page {
    .upper-index {
      .card {
        flex-direction: column;
        #where, #when, #what {
          width: 100%;
        }
        #when {
          border-left: none;
          border-right: none;
          border-top: solid 1px #ccc;
          border-bottom: solid 1px #ccc;
        }
      }
    }
    .lower-index {
      flex-direction: column;
      .available-matches, .upcomings {
        width: 100%;
      }
      .match-row {
        height: auto !important;
        align-items: center;
        flex-wrap: wrap;
        img {
          height: 100px;
        }
        .other-user-info {
          height: 120px;
          width: 55% !important;
        }
        .match-info {
          width: 60%;
          td {
            padding-left: 0 !important;
          }
          .attr-name {
            width: 60px !important;
          }
        }
        .match-activity {
          width: 30%;
        }
      }
    }
  }
}