.bg-img-signup {
  background-image: url("../background-imgs/filip_mroz_177565.jpg");
  background-position: 50% 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    margin-bottom: 20px;
    .inline-group {
      margin-top: -35px;
    }
    .inline-fields {
      margin-top: -15px;
      display: flex;
      justify-content: space-between;
      input[type=password] {
        width: 48%;
      }
    } 
  }
}