.bg-img-login {
  background-image: url("../background-imgs/michele_feola_166138.jpg");
  background-position: 50% 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .login-signup-card {
    form {
      .input-login {
        padding: 20px 15px;
        margin: 30px 0;
        border: none;
        border-bottom: solid 2px #ccc;
        box-shadow: none;
        font-size: 14pt;
        transition: 0.2s;
        &:focus {
          transform: scale(1.02);
        }
      }
    }
  }
}