.login-signup-card {
  align: center;
  width: 500px;
  margin: auto;
  padding: 30px 50px;
  background: #fff;
  box-shadow: 0px 10px 50px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  h1 {
    font-size: 40pt;
    font-weight: 900;
    margin: 30px auto;
  }
  form {
    .btn-fb {
      width: 100%;
      padding: 15px;
      transition: 0.2s;
      background-color: #3b5998;
      color: #fff;
      font-size: 15pt;
      font-weight: 900;
      &:hover {
        transform: scale(1.02);
      }
    }
    .hr-or {
      margin: 40px 0;
      height: 10px;
      color: #ccc;
      border-bottom: solid 1px #ccc;
      span {
        background-color: #fff;
        padding: 0 10px;
      }
    }
    .input-login {
      height: 40px;
      margin: 30px 0;
      border: none;
      border-bottom: solid 2px #ccc;
      box-shadow: none;
      font-size: 14pt;
      transition: 0.2s;
      &:focus {
        transform: scale(1.02);
      }
    }
    .btn-login-signup {
      width: 50%;
      padding: 15px;
      transition: 0.2s;
      background-color: #004353;
      color: #fff;
      font-size: 15pt;
      font-weight: 900;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}