.schedule-show {
  width: 95%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  .your-schedule {
    width: 30%;
    .card {
      padding: 20px;
      table {
        td {
          padding: 15px;
        }
        .attribute {
          width: 80px;
          color: #999;
        }
        .detail {
          &.activity-name {
            font-size: 20pt;
            color: #00708A;
          }
        }
      }
      .schedule-count {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding: 20px;
        .available-count, .current-count {
          text-align: center;
          .header {
            color: #999;
          }
          .count {
            color: #00708A;
            font-size: 22pt;
          }
        }
      }
    }
  }
  .available-matches {
    width: 66%;
    .match {
      margin-bottom: 20px;
      padding: 20px;
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
      }
      .other-user-info {
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: none;
        margin: 0 20px;
        h4 {
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p {
          font-size: 16px;
          color: #999;
        }
      }
      .schedule-datetime {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: none;
        td {
          padding: 10px 0;
        }
        .attr-name {
          width: 50px;
          color: #999;
        }
      }
      .response-btns {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn-round {
          height: 70px;
          width: 70px;
          margin: auto 5px;
          background-color: #fff;
          border-radius: 50% !important;
          border: solid 2px;
          font-size: 30px;
          &.btn-accept {
            color: #008000;
            border-color: #008000;
            &:hover {
              color: #fff;
              background-color: #008000;
            }
          }
          &.btn-decline {
            color: #8B0000;
            border-color: #AB0000;
            &:hover {
              color: #fff;
              background-color: #AB0000;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .schedule-show {
    .response-btns {
      .btn-round {
        width: 60px !important;
        height: 60px !important;
        font-size: 25px !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .schedule-show {
    flex-wrap: wrap;
    .your-schedule {
      width: 100%;
      td {
        padding: 10px !important;
      }
      .schedule-count {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    .available-matches {
      width: 100%;
      .match {
        flex-wrap: wrap;
        .other-user-info {
          width: 40%;
          flex-grow: 1;
        }
        .schedule-datetime {
          margin-top: 10px;
          width: 50%;
          td {
            padding: 5px 0;
          }
        }
        .response-btns {
          margin-top: 10px;
          width: 50%;
        }
      }
    }
  }
}